.card {
    width: 90%;
    height: auto;
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px;
    padding: 35px;
    text-align: left
    
}

.range-from {
    display: inline;
    position: relative;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.range-to {
    display: inline; 
    position: relative;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center; 
}

.range {
    margin-top: 20px;
}

.single-select {
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-field {
    text-align: left;
    width: 100%;

}
.text-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.check-box {
    display: block;
}

.text-input {
    width: 100%;
    text-align: center;
    height: 30px;
}